/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* resetting default html and css */
*{
    margin: 0;
    padding: 0;
}


.nav{
  background-color: #333;
}

#ul{
    /* this removes the bullet points from the list */
   
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
   padding-top: 2%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 2%;

}


/* by default li elements are block elements so we'll make it inline */

.nav-links{
    /* this will bring all the elements in the same line */
    display: inline-block;

    /* this will keep the element floating to the left */
    
}

li{
  display: inline;
  padding: 20px;
}

.list-items .nav-links{
  display: inline;
    text-align: center;
    padding: 14px 16px;

}

.nav-links{
    /* display: block; - Allows us to specify padding (and height, width, margins, etc. if you want)
 */
 display: inline;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    color: #bbbbbb;

    
    
    /* background-color: #dddddd; */
    /* if you want a full width color add the background color to the ul instead */
    text-decoration: none;
    /* removes the underline from the link */
}

a:hover{
    color: black;
    text-decoration: none;
    background-color: #E8F9FD;
}

.contact{
    /* this will move the last element to the right */
    float: right;
}

.center{
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    
    padding-bottom: 5%;
}

.web-info{
    display: block;
    margin-top: 10%;
    padding-left: 5%;

}

.intro {
    background-color: #333;
  }

    .intro-mobile{
      background-color: #333;}


    /* adding animation */

.info-para{
    animation: w1anim 2s infinite
}



@keyframes w1anim {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
      opacity:0;
    }
  }


  .contact .about{
    font-family: 'Open Sans', sans-serif; 
    
  }


 .cu, h1 ,h6 {
    color: #bbbbbb;
  }



  .logo{
      height:10em;
      margin-top:17%
  }

  .intro-mobile{
    display: none;
  }





  /* adding a scrolling effect in html */

  html{
      scroll-behavior: smooth;
  }

  /* making the nav-bar fixed */

  .nav{
      position: fixed;
      width: 100%;
      z-index: 1;
  }


    
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  



  
  /* Set a style for all buttons */
  button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #F55353;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 22%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin:auto;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }



  
  #ph_no{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

 .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}